.player{
    overflow: hidden;
    width: 280px;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span{
        font-size: 28px;
        margin-left: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    background-color: rgba(50,50,50, 0.8);
    color: white;
    img{
        height: 50px;
        width: 50px;
        border-radius: 100%;
        object-fit: contain;
    }
}

.player-active{
    background-color:rgb(103,58,183) !important;
    color: black;
    transform: scale(1.15);
    transform-origin: right;
}